*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #125e7a;
}
.wrapper{
    width: 400px;
    border: 1px solid wheat;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.container{
    width: 100%;
    background-color: #c04e56;
    padding: 50px 40px;
    box-shadow: 0 20 65 black;
    position: relative;
    border-radius: 8px;
    text-align: center;
}
.container::after{
    content: "";
    position: absolute;
    width: 80%;
    height: 120%;
    background-color: white;
    z-index: -1;
    top: -10%;
    left: 10%;
}
.container p{
    color: white;
    line-height: 2;
    font-size: 18px;
}
.container h3{
    color: wheat;
    margin: 20px 0 60px 0;
    font-weight: 600;
    text-transform: capitalize;
}
.container button{
    background-color: wheat;
    color: #f43543;
    border: none;
    padding: 15px 45px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}